<nav class="c-nav">
  <a class="c-nav__link" routerLink=""
    ><img class="c-nav__home" src="../../../assets/images/home.png" alt="home"
  /></a>

  <div class="c-nav__menu">
    <a class="c-nav__link" routerLink="beer"
      ><img
        class="c-nav__beer"
        src="../../../assets/images/beer.png"
        alt="beer"
    /></a>
    <a class="c-nav__link" routerLink="food"
      ><img
        class="c-nav__food"
        src="../../../assets/images/food.png"
        alt="beer"
    /></a>
  </div>
</nav>
